<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <!-- <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico"> -->
    <!-- Add this line to your HTML -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- MY FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="myicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myicons/favicon-16x16.png">

    <!-- <link rel="manifest" href="/site.webmanifest"> -->
    <link rel="manifest" href="/dist/pwa/manifest.json">
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
  <script>

  </script>
</html>
