<template>
  <q-page>
    <h4>Archived</h4>
    <div class="row">
      <div class="col">
        <q-card class="my-card">
          <q-card-section>
            <q-list bordered>
              <q-item v-for="todo in archivedList" :key="todo.id">
                <q-item-section avatar>
                  <q-icon color="primary" name="check" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ todo.todo }}</q-item-label>
                  <q-item-label caption>{{ todo.finishBy }}</q-item-label>
                </q-item-section>
                <q-item-section>
                  <q-item-label
                    ><b>Archived: </b
                    >{{
                      Date(todo.archivedOn).toString("yyyy-mm-dd")
                    }}</q-item-label
                  >
                </q-item-section>
              </q-item>
            </q-list>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { useTodoStore } from "src/stores/todoStore";
import { useQuasar } from "quasar";
export default defineComponent({
  setup() {
    const $q = useQuasar();
    console.log($q);
    const todoStore = useTodoStore();
    const archivedList = ref(todoStore.getArchivedList);
    console.log(archivedList.value);

    return { archivedList };
  },
});
</script>

<style lang="scss" scoped></style>
