<template>
  <q-page class="q-ma-xs bg-image">
    <div class="row">
      <div class="col">
        <h3 class="q-my-xs" style="color: white">TODO LIST</h3>  
      </div>
    </div>
    <!-- <div class="row">
      <div class="col text-right">
        <q-btn
          color="positive q-ma-xs"
          icon="add"
          round
          @click="confirm = !confirm"
        />
      </div>
    </div> -->
    <div class="row" v-for="(todo, i) in pendingList" :key="i">
      <div class="col">
        <q-card class="my-card">
          <q-card-section horizontal>
            <q-card-section class="q-py-xs">
              <q-checkbox v-model="todo.done" size="xl" />
            </q-card-section>
            <q-card-section class="q-py-xs">
              <h6 :class="'q-my-none' + (todo.done ? ' text-strike' : '')">
                {{ todo.todo }}
              </h6>
              <span class="text-caption">{{ todo.finishBy }}</span>
            </q-card-section>
            <q-space />
            <q-card-actions horizontal align="right" class="q-py-xs">
              <q-btn
                flat
                rounded
                size="xl"
                color="info"
                icon="edit"
                :to="'todo/' + todo.id"
              />
              <q-btn
                flat
                rounded
                size="xl"
                color="negative"
                icon="delete"
                @click="todoStore.deleteTodo(todo.id)"
              />
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div class="row" v-if="doneList.length > 0">
      <div class="col">
        <h5 class="q-my-xs">DONE</h5>
      </div>
    </div>
    <div class="row" v-for="(todo, i) in doneList" :key="i">
      <div class="col">
        <q-card class="my-card">
          <q-card-section horizontal>
            <q-card-section class="q-py-xs">
              <q-checkbox v-model="todo.done" size="xl" />
            </q-card-section>
            <q-card-section class="q-py-xs">
              <h6 :class="'q-my-none' + (todo.done ? ' text-strike' : '')">
                {{ todo.todo }}
              </h6>
              <span class="text-caption">{{ todo.finishBy }}</span>
            </q-card-section>
            <q-space />
            <q-card-actions horizontal align="right" class="q-py-xs">
              <q-btn
                flat
                rounded
                size="xl"
                color="accent"
                icon="archive"
                @click="todoStore.archiveTodo(todo.id)"
              />
              <q-btn
                flat
                rounded
                size="xl"
                color="negative"
                icon="delete"
                @click="todoStore.deleteTodo(todo.id)"
              />
            </q-card-actions>
          </q-card-section>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { useQuasar } from 'quasar'

import { computed, defineComponent, ref, watch } from "vue";
import { useTodoStore } from "src/stores/todoStore";



export default defineComponent({
  name: "IndexPage",
  setup() {
    const todoStore = useTodoStore();
    // const todoList = ref(todoStore.getTodoList);
    const todoList = ref([]);

    // Fetch data and assign it to todoList
    (async () => {
      try {
        const tasks = await todoStore.getTodoList;
        todoList.value = tasks;
      } catch (error) {
        console.error(error);
      }
    })();

    const pendingList = computed(() => {
      return todoList.value.filter((el) => !el.done);
    });
    const doneList = computed(() => {
      return todoList.value.filter((el) => el.done);
    });

    //MODIFICATION TO CONNECT TO FIREBASE
    // const pendingList = leerDatos();

    
    return {
      todoList,
      pendingList,
      doneList,
      todoStore,
    };
  },
  methods: {

  },
  created(){
    // this.leerDatos()
  },
  //-----------

});







</script>
<style>

  .bg-image {
    background-image: url('/src/assets/celeste2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }


</style>