<template>
  <q-page>
    <q-card class="my-card">
      <q-form @submit="onSubmit" @reset="onReset" class="q-gutter-md">
        <q-card-section class="q-pa-sm">
          <h3 class="q-my-xs">New Todo</h3>
        </q-card-section>
        <q-card-section class="q-pa-sm">
          <q-input v-model="todoText" type="text" label="ToDo" />
        </q-card-section>
        <q-card-section class="q-pa-sm">
          <q-input v-model="finishBy" type="date" label="Finish By" />
        </q-card-section>
        <q-card-actions class="q-pa-sm">
          <q-btn label="Submit" type="submit" color="primary" />
          <q-btn
            label="Cancel"
            type="reset"
            color="negative"
            flat
            class="q-ml-sm"
          />
        </q-card-actions>
      </q-form>
    </q-card>
  </q-page>
</template>

<script>
import { defineComponent, ref } from "vue";
import { useRouter, useRoute } from "vue-router";
import { useTodoStore } from "src/stores/todoStore";
import shortid from "shortid";
export default defineComponent({
  setup() {
    const todoStore = useTodoStore();
    const route = useRoute();
    const id = route.params.id != undefined ? ref(route.params.id) : null;
    const router = useRouter();
    const confirm = ref(false);
    const todoText = ref("");
    const finishBy = ref(null);
    const editTodo = ref(null);
    if (id) {
      editTodo.value = todoStore.getTodoList.find((el) => el.id == id.value);
      todoText.value = editTodo.value.todo;
      finishBy.value = editTodo.value.finishBy;
    }
    function onSubmit() {
      if (id) {
        todoStore.editTodo(editTodo.value, todoText.value, finishBy.value);
      } else {
        todoStore.addTodo({
          done: false,
          todo: todoText.value,
          finishBy: finishBy.value,
          created: Date.now(),
          id: "tmpid_" + shortid.generate(),
        });
      }
      todoStore.addCount();
      todoText.value = "";
      finishBy.value = null;
      confirm.value = false;
      router.push("/");
    }
    function onReset() {
      todoText.value = "";
      finishBy.value = null;
      confirm.value = false;
      router.back();
    }
    return {
      confirm,
      todoText,
      finishBy,
      onSubmit,
      onReset,
    };
  },
});
</script>

<style lang="scss" scoped></style>
